body {
         background-color: black;
         background-image: url("../img/bg.png");
         background-repeat: no-repeat;
         background-position: left top;
         background-attachment: fixed;
}

header {


         height: 370px;
         width: 960px;
         margin: auto;
         color: white;
         font-style: normal;
         font-family: "Arial Verdana", Arial, Sans-serif;
         font-size: 62px;

}

nav {

         height: 20px;
         width: 950px;
         margin: auto;
         padding: 5px 5px 5px 5px;
         background-color: #ff751a;
         color: #cc3300;
         font-style: normal;
         font-weight: bold;
         font-family: "Arial Verdana", Arial, Sans-serif;
         font-size: 16px;
		 text-shadow: 0 0 3px #cc0000;
		 

}

.navi 

{
	
	color: #cc3300;
    transition-duration: 0.3s;
	text-shadow: 0 0 3px #ff751a;
    cursor: pointer;	
	
}

.navi1:link {

text-decoration: none;
color: #1a0600;
text-shadow: 0 0 3px #cc0000;


}

.navi1:visited {
	text-decoration: none;
	color: #1a0600;
	text-shadow: 0 0 3px #cc0000;



	}
	
.navi1:hover {
    text-decoration: none;
	color: #cc3300;
	text-shadow: 0 0 3px #cc0000;


	}
	
.navi1:active {
	text-decoration: none;
	color: #cc3300;
	text-shadow: 0 0 3px #cc0000;
	
	}
	

main {

         width: 1420px;
         margin: auto;
         padding: 0px 15px 0px 15px;

}

img.server_images {

border-radius: 5px 5px 5px 5px;

}

wbr

{

height: 5px;

}

/* Drei Felder erstellen */
.spalte {
         margin: auto;
         float: left;
         padding: 15px;
}

/* Linke und rechte Spalte */
.spalte.side {
    width: 200px;
    color: white;
    font-style: normal;
    font-family: "Arial Verdana", Arial, Sans-serif;
    font-size: 16px;
}

/* mittlere Spalte */
.spalte.mitte {
         width: 930px;
         background-color: #ff751a;

         border-radius: 0px 0px 15px 15px;
         font-style: normal;
         font-family: "Arial Verdana", Arial, Sans-serif;
}

.titel {


height: auto;
width: auto;
padding: 5px ;

border-radius: 5px 5px 0px 0px;
color: white;
box-shadow: 5px 5px 5px #1a1a1a;
font-size: 12px;
background-color: #FF3F00;

}

#titel
{

font-size: 24px;

}
.inhalt {


height: auto;
width: auto;
padding: 5px ;
border-radius: 0px 0px 5px 5px;
color: black;
background-color: white;
box-shadow: inset 0px 5px 2px #8c8c8c;

}

/* Float nach den Spalten beenden */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.sidespacer {

         padding: 5px ;
         background-color:rgba(255, 255, 255, 0.1);
         border-radius: 15px 15px 15px 15px;

}


.button

{
	text-decoration: none;
	border: 0px;
	height: 40px;
	width: auto;
	padding: 10px ;
	background-color: white;
	border-radius: 5px 5px 5px 5px;	
	color: black;
	font-style: normal;
    font-family: "Arial Verdana", Arial, Sans-serif;
    font-size: 16px;
	box-shadow: 0px 0px 0px #cc0000;
	text-shadow: 0px 0px 0px #cc0000;
	transition-duration: 0.3s;
    cursor: pointer;
		
}

.button1:link
{
	

	box-shadow: 0px 0px 0px #cc0000;
	text-shadow: 0px 0px 0px red;
	
}

.button1:visited
{
	

	box-shadow: 0px 0px 0px #cc0000;
	text-shadow: 0px 0px 0px red;
	
}

.button1:hover
{

	color: #cc3300;
	box-shadow: 5px 5px 5px #cc0000;
	text-shadow: 0px 0px 5px #cc0000;
	
}

.button1:active
{

	box-shadow: 0px 0px 0px #cc0000;
	text-shadow: 0px 0px 0px red;
	
}

footer {

         height: auto;
         width: 950px;
         margin: auto;
         padding: 10px 15px 10px 15px;
         color: white;
         background-color:rgba(0, 0, 0, 0.6);
         border-radius: 15px 15px 15px 15px;
         font-style: normal;
         font-family: "Arial Verdana", Arial, Sans-serif;
         font-size: 12px
}